[submodule "src/thirdparty/box2d"]
	path = src/thirdparty/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "src/thirdparty/raylib"]
	path = src/thirdparty/raylib
	url = https://github.com/raysan5/raylib.git
